.app-header a:link, .app-header a:hover, .app-header a:visited, .app-header a:active {
  color:#29d308;
  text-shadow: #29d308 0 0 20px;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

ul.calender li {
  padding: 10px;
}

.App {
  background-color: rgb(7, 7, 7);
  min-height: 100vh;
  font-size: calc(0.5px + 2vmin);
  color: white;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(7, 7, 7);
  padding: 0 20px 0 20px;
  color:#29d308;
  text-shadow: #29d308 0 0 20px;
  top: 0;
  left: 0;
}

.year {
  margin-top: 50px;
  font-size: calc(0.1px + 2vmin);
}
.num {
  margin-top: 0;
  font-size: calc(0.1px + 2vmin);
}

ul {
  font-size: calc(10px + 1vmin);
  list-style-type: none;
}
¨
.calender li{
  margin: 10px;
}

.visBox {
  position: absolute;
  /* right: 100px; */
  right: calc(1px + 9vmin);
  /* top: 200px; */
  top: calc(0.5px + 17vmin);;
  /* width: 1000px; */
  width: calc(2.5px + 91vmin);
  /* height: 800px; */
  height: calc(0.5px + 73vmin);
  background-color: rgb(5, 5, 5);
  padding: 0 20px 0 20px;
  border: 2px solid;
}

.visBoxI p{
  font-size: calc(5px + 1vmin);
}

.visBoxView {
  position: relative;
  /* top: 20px; */
  top: calc(0.5px + 0.01vmin);
  /* left: 30px; */
  left: calc(0.5px + 0.005vmin);
  /* width: 960px; */
  /* width: calc(0.5px + 87.5vmin); */
  width: 96%;
  /* height: 715px; */
  height: calc(0.5px + 65.3vmin);
  height: calc(0.5px + 65.3vmin);
  /* height: calc(0.5px + 65.3vmin); */
  padding: 5px 20px;
  word-wrap: break-word;
}

table {
  margin-right: 200px;
}

table thead th {
  padding-left: 50px;
}

.intro {
  margin-top: 70px;
  margin-left: 50px;
  /* width: 700px; */
  width: calc(0.5px + 64vmin);
}

.cmdHref a:hover {
  text-decoration: underline;
}

.yTable thead th a:hover {
  text-decoration: underline;
}

.calender li a:hover {
  text-decoration: underline;
}

.midS6Running {
  color: red;
}

.midS6Done {
  color:#29d308;
}

.s6AnsTxt {
  font-weight: bold;
  font-size: calc(2px + 4vmin);
}